<div class="hidden-xs ">

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

</div>


<div class="hidden-sm hidden-md hidden-lg">
  <div class="mobile-background">
    <div class="col-xs-12">
    <%=  image_tag "logo.png" %>
    </div>
   </div>
</div>
