<div>

  <h1>DÉCLARATION DE CONFIDENTIALITÉ</h1>
<p>

L’Exploitant est tenu de respecter votre vie privée. En conséquence, nous vous informons de la manière dont nous collectons, utilisons et transmettons les données personnelles (ci-après: les "DP"). La présente Déclaration de confidentialité décrit notre mode de traitement des DP que nous collectons sur le site. Cette Déclaration ne porte pas sur la collecte, l’utilisation ou la transmission d’informations par des tiers au moyen d’autres sites internet ou par des voies autres qu’électroniques. Nous nous réservons la possibilité d’actualiser ces clauses de protection des données en publiant sur notre site une nouvelle Déclaration de confidentialité. Vous trouverez à la fin de cette page internet la dernière mise à jour sous l'onglet "Actualisation".

Toutes les modifications apportées à nos clauses de confidentialité entrent en vigueur au moment de la publication sur le site de la Déclaration de confidentialité actualisée. Nonobstant cette disposition, toutes les modifications importantes de nos clauses de protection des données susceptibles d’amoindrir la protection de vos DP déjà transmises n’entreront en vigueur qu’après réception de votre accord formel.

Données personnelles collectées
Les DP sont des informations qui permettent d’identifier une personne physique. Au moment de votre inscription en qualité d’utilisateur du site web, nous collectons vos noms et prénoms, votre date de naissance et votre adresse e-mail. En cas de création d’une cagnotte, nous pouvons collecter les DP de personnes autres que l’organisateur. Lors de la création d’une cagnotte, l’organisateur indique les noms et prénoms du bénéficiaire. Lorsqu’il demande le virement des participations, le bénéficiaire saisit ses informations bancaires (numéro IBAN et code SWIFT de son compte) et son adresse. Lors du virement de la monnaie électronique au bénéficiaire par novation avec changement de créancier, nous pouvons demander à obtenir les noms et prénoms du bénéficiaire, son adresse, sa date de naissance et son adresse e-mail.

Tant que l’utilisateur n’aura pas transmis les documents spécifiés ci-après, dont Bety a besoin pour vérifier son identité, l’utilisateur sera assujetti aux plafonds suivants :

Un plafond total de 2500 Euros en monnaie électronique, correspondant à toutes les participations de l’utilisateur au cours d’une même année civile ;
Un plafond de 1000 Euros de remboursement en monnaie électronique au cours d’une même année civile.
A réception des documents ci-après, sous réserve que Leetchi les estime satisfaisants, Leetchi pourra débloquer les plafonds applicables au bénéficiaire.

une copie d’une pièce d’identité officielle en cours de validité; une carte d’identité (recto verso) ou un passeport pour les ressortissants de l’Espace économique européen, et un passeport pour les ressortissants d’Etats tiers.
Si le destinataire n’est pas le véritable bénéficiaire des fonds, l’identité du véritable bénéficiaire, ainsi qu’une copie de sa pièce d’identité suivant les modalités ci-dessus énoncées; et, le cas échéant :
Si Leetchi le juge nécessaire, un justificatif de domicile.
Utilisation de vos données personnelles
L’Exploitant utilise les DP en premier lieu pour ses relations commerciales avec vous conformément à et/ou dans le cadre de nos relations contractuelles. Nous pouvons utiliser vos DP aux fins suivantes :
pour répondre à vos demandes concernant, par exemple, votre compte utilisateur ou une cagnotte que vous organisez ou à laquelle vous participez, ou portant sur un ordre de paiement exécuté;
pour vous fournir des informations importantes sur le site, ou les modifications apportées à nos conditions générales, vous donner des instructions et/ou d’autres informations administratives;
pour vous communiquer des informations que nous estimons pouvoir vous intéresser sur des produits, des programmes, des services et des opérations promotionnelles (sous réserve d’avoir obtenu votre accord à ce sujet);
pour vous permettre de contacter par e-mails d’autres destinataires de nos services;
pour vous permettre de participer à des jeux primés, à des concours et autres opérations promotionnelles et gérer ces activités, dont certaines comportent des règles supplémentaires susceptibles de contenir des informations sur la manière dont nous utilisons et publions vos DP;
pour personnaliser votre navigation sur notre site web et vous proposer des offres personnelles;
à des fins de gestion interne, à savoir analyse des données, révisions, développement de nouveaux produits, amélioration de notre site et de nos services, identification des tendances et vérification de l’efficacité de nos offres promotionnelles;
pour déceler et éviter des abus ou fraudes éventuels. </p>
</div>
