/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: 1px solid $white;
}
.alert-info {
  background: $white;
  color: $red;
}
.alert-warning {
  background: $red;
}
