.btn-bety-primary {
  color: white;
  border: 1px solid #FFFFFF;
  padding: 10px 15px;
  border-radius: 50px;
}

.btn-bety-primary:hover {
  opacity: 0.8 ;
  text-decoration: none;
}

.btn-bety-red {
  color: white;
  background-color: #D42828;
  padding: 10px 15px;
  border-radius: 50px;
}

.btn-box {
  background-color: white;
  color: #D42828;
  height: 110px;
  margin: 10px;
  border-radius: 1px;
  padding: 10px 15px;

  &:hover {
    color:  #D42828 !important;
  }
}

.btn-box-click {
  background-color: #D42828;
  color: white !important;
  height: 110px;
  margin: 10px;
  border-radius: 1px;
  padding: 10px 15px;

  &:hover {
    color: white !important;
  }
 }



