

.btn-bety-primary {
  color: white;
  border: 1px solid #FFFFFF;
  padding: 15px;
  border-radius: 50px;
}

.btn-bety-primary:hover {
  opacity: 0.8 ;
  text-decoration: none;
}

.btn-bety-red {
  color: white;
  background-color: #D42828;
  padding: 15px;
  border-radius: 50px;
}

.btn-bety-white {
  color: #D42828;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
}

.btn-bety-white-border {
  color: white;
  background-color: #D42828;
  padding: 15px;
  font-size: 12px;
  border-radius: 50px;
  border: 1px solid white;
}

.btn-bety-prize {
  display: flex;

  color: #D42828;
  background-color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #D42828;
  width: 33%;
  height: 28px;
}

.btn-bety-red-border {
  color: #D42828;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #D42828;
}

.btn-box {
  background-color: white;
  // box-shadow: 0px 1px 1px 1px rgba(0, 0, 255, .2);
  height: 40px;
  margin: 10px 10px 10px 0px;
  border-radius: 50px;
  width: 100%;
  font-size: 20px;
  border: 1px solid lightgray;
  white-space: normal;
  outline:  none;


  &:hover {
    color:  #D42828 !important;
  }
}


.btn-new-form {
width: 90%;

}


.btn-box-click {
  background-color: #D42828;
  color: white !important;
  height: 40px;
  margin: 10px 10px 10px 0px;
  border-radius: 50px;
  width: 100%;
  font-size: 20px;
  white-space: normal;
  outline:  none;


  &:hover {
    color: white !important;

  }
}


.btn-box-small-click {


  color: white;
  background-color: #D42828;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid white;

  &:hover {
    color: white !important;
  }
}



.game_photo input {
  display: none;
}

// Designer le label
.game_photo label {
  color: #D42828;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #D42828;
}

.game_photo label:hover {
  color: #D42828;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #D42828;
}


.form-actions input{
  color: white;
  background-color: #D42828;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid white;

}

.user_photo input {
  display: none;
}
.user_photo label {
  color: #D42828;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #D42828;
}

.user_photo label:hover {
  color: #D42828;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #D42828;
}


.user-actions input{
  color: white;
  background-color: #D42828;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid white;

}



.game_name_a label{
  display:none;
}
.game_name_b label{
  display:none;
}

.game_match_challenger_bet label{
  display:none;
}

.col-form-label {


}

#game_match_challenger_bet {
  border-radius: 50px;
  height: 50px;
  text-align: center;
  width: 80%;
}
