.btn-bety-primary {

  color: white;
  border: 1px solid #FFFFFF;
  padding: 10px 15px;
  border-radius: 50px;


}
.btn-bety-primary:hover {
  opacity: 0.8 ;
  text-decoration: none;
  color: #FFFFFF;


}
