.mobile-background {


  background: #D42828;
  height: calc(100vh - 0px);
  transition: all 0.3s ease;
  display: flex;
  align-item: center;
  justify-content: center;

}
.mobile-contain {


  margin: auto;
  display: flex;
  align: center;
  text-align: center;
}

.mobile-H1{
  margin-right: auto;
  margin-left: auto;
  color: #FFFFFF !important;
  font-size:15px !important;
  display: flex;
  align: center;
  text-align: center;
}




li {
 list-style-type: none;
 list-style-position:inside;
 margin:0;
 padding:0
}
ul {
 list-style-type: none;
 list-style-position:inside;
 margin:0;
 padding:0
}

.banner-mobile{
  margin-top: 3vh;
}
.banner-mobile-text{
  margin-top: 10vh;
}
.align-center{
 justify-content: space-between;
}

.flex {
  display: flex;
}

.main-button {
  height: 160px;
  width: 160px;
  margin-left: 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  animation: bounce .7s infinite alternate;
}

@keyframes bounce {
  to { transform: scale(1.08); }
}
